/* основной цвет текста #212121 */
/* вторичный цвет текста (абзацы) #757575 */
/* цвет текста белый #FFFFFF */
/* цвет текста из логотипа темный #000000 */
/* акцентный цвет #2196F3 */
/* цвет текста контактов в футере rgba(255, 255, 255, 0,6) */
/* цвет фона в футере #2F303A */
/* цвет фона вторичный секции контактов #F5F4FA */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;
  --contacts-text-color-footer: rgba(255, 255, 255, 0.6);
  --black-text-color-logo: #000000;

  --primary-bgd-color: #ffffff;
  --secondary-bgd-color: #2f303a;
  --special-bgd-color: #f5f4fa;
  --social-footer-bgd-color: rgba(255, 255, 255, 0.1);
  --work-overlay-bgd-color: rgba(47, 48, 58, 0.8);
  --animation-bgd-color: rgba(33, 150, 243, 0.9);
  --backdrop-bgd-color: rgba(0, 0, 0, 0.2);

  --social-icon-color: rgba(175, 177, 184, 1);
  --primary-border-color: #ececec;
  --secondary-border-color: #eeeeee;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.page {
  padding-top: 80px;

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;

  background-color: var(--primary-bgd-color);
  color: var(--primary-text-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* style of list markers */
.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

/* Style of sections */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* style of titles */
.section__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-text-color);
}

/* hidden titles */
.visually-hidden {
  position: fixed;
  transform: scale(0);
}

/*--------------- Header ---------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  border-bottom: 1px solid var(--primary-border-color);
  background-color: var(--primary-bgd-color);
}

/* logotype */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  color: var(--black-text-color-logo);
}

.logo__part {
  color: var(--accent-text-color);
}

/* Navigation */
.nav {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.header__container {
  display: flex;
}

.main-nav {
  display: flex;
}

.nav__link,
.contacts__link {
  display: block;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav__link {
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-text-color);
}

.nav__link--current {
  position: relative;
  color: var(--accent-text-color);
}

.nav__link--current::after {
  position: absolute;
  bottom: -1px;
  left: 0;

  width: 100%;
  height: 4px;

  content: '';
  border-radius: 2px;
  background-color: var(--accent-text-color);
}

/* Header contacts-list */
.contacts__link {
  display: flex;

  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  margin-left: auto;
    display: flex;
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-text-color);
}


.contacts__item:last-child {
  margin-left: 30px;
}

.contacts__icon--smartphone,
.contacts__icon--letter {
  margin-right: 10px;
  fill: currentColor;
}

/*-------------------------- Page Studio styles --------------------------*/
/*-------------------------- Page Studio styles --------------------------*/

/* Hero section */
.hero-section {
  text-align: center;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.button {
  min-width: 200px;
  height: 50px;

  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--white-text-color);
  background-color: var(--accent-text-color);

  border: 0;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero__overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/background-hero.jpg');
}

/*--------------- Features section ---------------*/


.features {
  display: flex;
}

.features__item {
  width: calc((100% - 30px * 3) / 4);
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__wrap {
width: 270px;
height: 120px;
margin-bottom: 30px;
display: flex;
justify-content: center;
align-items: center;

border-radius: 4px;
background-color: var(--special-bgd-color);
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__desc {
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/*--------------- Work section ---------------*/

.work-section {
  padding-top: 0;
}

.work {
  display: flex;
}

.work__item {
  width: calc((100% - 30px * 2) / 3);
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__image {
  display: block;
}

.work__wrap {
  position: relative;

  width: 370px;
  height: 294px;
}

.work__category {
  position: absolute;
  bottom: 0;
  width: 100%;

  padding: 27px 82px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--white-text-color);
  background-color: var(--work-overlay-bgd-color);
}

/*---------------------- Team section ----------------------*/

.team-section {
  background-color: var(--special-bgd-color);
}

.members {
  display: flex;
  text-align: center;
}

.members__item {
  width: calc((100% - 30px * 3) / 4);

  background-color: var(--primary-bgd-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.members__item:not(:last-child) {
  margin-right: 30px;
}

.members__info {
  padding: 30px 32px;
  font-size: 16px;
  line-height: 1.19;
}

.members__photo {
  display: block;
  margin-bottom: 0;
}

.members__name {
  margin-bottom: 10px;

  font-weight: 500;
}

.members__proffession {
  margin-bottom: 16px;

  color: var(--secondary-text-color);
}


/* Socials list */
.socials {
  display: flex;
  padding: 0;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  color: var(--accent-text-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: var(--primary-bgd-color);
}

.socials__link:hover,
.socials__link:focus {
  border-radius: 50%;
  background-color: currentColor;
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: var(--social-icon-color);
}

/*----------------- Clients section -----------------*/

.clients {
  display: flex;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: block;
  width: 100%;
  height: 100%;
}

.clients__icon {
  width: 170px;
  height: 92px;

  border: 1px solid var(--social-icon-color);
  border-radius: 4px;
  fill: var(--social-icon-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-text-color);
  border-color: var(--accent-text-color);
}

/*----------------------- Footer -----------------------*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-bgd-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white-text-color);
}

.address__link {
  font-style: normal;
  line-height: 1.71;

  color: var(--contacts-text-color-footer);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover,
.address__link:focus {
  color: var(--accent-text-color);
}

.address__link--physical {
  color: var(--white-text-color);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-wrapper {
  margin-right: 70px;
}

.join__appeal,
.subscribe__appeal {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-text-color);
}

/* Socials in footer */
.socials__icon--footer {
  fill: var(--primary-bgd-color);
}

.socials__link--footer {
  background-color: var(--social-footer-bgd-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*---- Subscribe to news ----*/

.subscribe {
  margin-left: auto;
}

.subcribe__form {
  display: flex;
}

.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input {
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;
  height: 50px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.6);

  background-color: transparent;
  border-radius: 4px;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.3);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__input:focus {
  border-color: var(--accent-text-color);
  outline: none;
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe__icon {
  margin-left: 10px;
  fill: var(--white-text-color);
}

/*-------------------------- Page Portfolio styles --------------------------*/
/*-------------------------- Page Portfolio styles --------------------------*/


/* buttons style */
.buttons {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.portfolio-button {
  padding: 6px 22px;

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: var(--primary-text-color);
  background-color: var(--special-bgd-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons__item:not(:last-child) {
  margin-right: 8px;
}

/*------- Projects list -------*/
.projects {
  display: flex;
  flex-wrap: wrap;
}

.projects__title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.projects__category {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}

.projects__link {
  display: block;
  width: 100%;

  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__item {
  width: calc((100% - 60px) / 3);
  border: 1px solid var(--secondary-border-color);
  background-color: var(--primary-bgd-color);
}

.projects__link:hover,
.projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.projects__item:not(:nth-child(n + 7)) {
  margin-bottom: 30px;
}

.projects__info {
  padding: 20px 24px;
}

.projects__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.projects__thumb {
  position: relative;

  width: 100%;
  overflow: hidden;
}

.hidden-text {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  color: var(--white-text-color);
  background-color: var(--animation-bgd-color);

  transform: translateY(100%);
}

.projects__link:hover .hidden-text,
.projects__link:focus .hidden-text {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*----------------------- MODAL WINDOW -----------------------*/
/* Styles for visible backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;

  width: 100%;
  height: 100%;

  background-color: var(--backdrop-bgd-color);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Styles for hidden backdrop */
.backdrop.is-hidden {
  /* visibility: hidden;  коли активна, анімація при закритті модального вікна не працює */
  pointer-events: none;
  opacity: 0;
}

/* Styles for hidden modal */
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

/* Styles for visible modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 20;

  /* height: 581px; */
  width: 528px;
  padding: 40px;
  background-color: var(--primary-bgd-color);

  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  opacity: 1;

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__appeal {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-bgd-color);
  cursor: pointer;
}

.modal__close:hover .modal__icon,
.modal__close:focus .modal__icon {
  fill: var(--accent-text-color);
}

.modal__icon {
  width: 18px;
  height: 18px;
  fill: var(--black-text-color-logo);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*---------------- Form ----------------*/

.form:focus-within {
  outline: none;
}

.form__field {
  display: block;
  margin-bottom: 10px;
}


.form__label {
  display: inline-block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  letter-spacing: 0.01em;
}

.form__label--accept {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.form__icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon:hover,
.form__label:hover {
  cursor: pointer;
}

.form__input {
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  border-radius: 4px;
  border-width: 1px;
  border-color: rgba(33, 33, 33, 0.2);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus + .form__icon {
  fill: var(--accent-text-color);
}

.form__input:focus {
  border-color: var(--accent-text-color);
  outline: none;
}

.form__box {
  display: block;
  position: relative;
}

.form__field-comment {
  display: block;
  margin-bottom: 20px;
}

.form__comment {
  display: block;
  padding: 12px 16px;
  width: 100%;

  border-width: 1px;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__comment:focus {
  border-color: var(--accent-text-color);
  outline: none;
}

/* Styles of checkbox */
.form__checking {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.form__label--accept {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-text-color);
}

.form__checkbox:focus + .form__icon-check {
  border: 2px solid var(--primary-text-color);
}

.form__checkbox:checked + .form__icon-check {
  background-color: var(--accent-text-color);
  background-origin: border-box;
  border-color: var(--accent-text-color);
}

.form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__icon-check {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;

  border: 1px solid var(--primary-text-color);
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contract {
  color: var(--accent-text-color);
}

.form__button {
  display: block;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
