.address-wrapper {
    margin-right: 70px;
}

.address {
    @extend %list;
    font-style: normal;
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

.address__link {
    line-height: 1.71;
    color: $contactsTextColorFooter;

    @include transitioned(color);

    &:hover,
    &:focus {
        color: $accentColor;
    }
}

.address__link--physical {
    color: $lightTextColor;
}


