.features-section {
    padding-top: 60px;
    padding-bottom: 60px;
}


.features-section__title {
    @extend %visually-hidden;
}

.features {
    @extend %list;
}

.features__item:not(:last-child) {
    margin-bottom: 30px;
}

.features__wrap {
    width: 100%;
    height: 120px;
    margin-bottom: 30px;

    background-color: $specialBgdColor;
    border-radius: $borderRadius;

    @include centeredFlex;
}

.features__icon {
    width: 70px;
    height: 70px;
}

.features__subtitle {
    margin-bottom: 10px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
}

.features__desc {
    line-height: 1.71;
    color: $secondaryTextColor;
}