.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $secondaryBgdColor;
}

.footer__container {
  // for tablet and desktop
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }
  // for tablet only
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    padding-left: 76px;
    padding-right: 89px;
  }
}
