.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;

  border-bottom: 1px solid $primaryBorderColor;
  background-color: $primaryBgdColor;
  // for mobile
  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.contacts {
  @extend %list;
}
