.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  border-bottom: 1px solid $primaryBorderColor;
  background-color: $primaryBgdColor;

  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @media screen and (min-width: 768px) {
    padding: 0;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.mobile-header-container {
  display: flex;
  align-items: center;
}

.contacts {
  @extend %list;
}
