.join {
  text-align: center;
  // for mobile
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  // for tablet
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: auto;
  }
  // for desktop
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.join__appeal {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
  color: $lightTextColor;
}
