@media screen and (max-width: 767px) {
  .menu-btn {
    margin-left: auto;
    padding: 0;

    border: none;
    background-color: transparent;
    cursor: pointer;

    @include centeredFlex;
  }

  .icon--cross,
  .icon--menu {
    fill: $textColorLogoHeader;

    @include transitioned(fill);

    .menu-btn:hover &,
    .menu-btn:focus & {
      fill: $accentColor;
    }
  }
}

.menu-btn .icon--menu {
  display: block;
}

.menu-btn.is-open {
  & .icon--menu {
    display: none;
  }

  & .icon--cross {
    display: block;
  }
}

.menu-container {
  display: none;

  &.is-open {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;

    background-color: $primaryBgdColor;
  }
}

.nav--menu {
  display: flex;

  @extend %list;
}

@media screen and (max-width: 767px) {
  .main-nav--full {
    display: none;
  }
}

// @media screen and (min-width: 768px) {
//   .menu-btn,
//   .menu-icon {
//     display: none;
//   }
// }

// .company-socials {
//   display: flex;
//   align-items: center;
//   margin-top: auto;

//   @extend %list;

//   font-weight: 500;
//   font-size: 18px;
//   line-height: 1.22;
//   letter-spacing: 0.02em;
//   color: $accentColor;
// }
