/* Styles for visible modal */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 20;
    padding: 40px;

    @media screen and (max-width: 479px) {
        width: calc(100% - 30px);
        height: 609px;
    }

    @media screen and (min-width: 480px) {
        width: 450px;
        height: 609px;
    }

    @media screen and (min-width: 1600px) {
        height: 581px;
        width: 528px;
    }
    
    
    background-color: $primaryBgdColor;
    border-radius: $borderRadius;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    opacity: 1;

    transform: translate(-50%, -50%) scale(1);

    @include transitioned(transform);

    /* Styles for hidden modal */
    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(1.1);
    }
}


.modal__appeal {
    display: block;
    margin-bottom: 12px;

    font-weight: 700;
    text-align: center;
    letter-spacing: inherit;
    color: $primaryTextColor;

    @media screen and (max-width: 767px) {
        font-size: 20px;
        line-height: 1.5;
    }

    @media screen and (min-width: 768px) {
        font-size: 20px;
        line-height: 1.15;
    }
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 32px;
    height: 32px;
    @include centeredFlex;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: $primaryBgdColor;
    cursor: pointer;
}


.modal__icon {
    width: 18px;
    height: 18px;
    fill: $textColorLogoHeader;

    @include transitioned(fill);

    .modal__close:hover &,
    .modal__close:focus & {
        fill: $accentColor;
    }
}