h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

.page {
    padding-top: 80px;

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;

    background-color: $primaryBgdColor;
    color: $primaryTextColor;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section__title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: $primaryTextColor;
}