.subscribe {
    margin-left: auto;
}

.subscribe__appeal {
    display: block;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $lightTextColor;
}

.subcribe__form {
    display: flex;
}

// input
.subscribe__input {
    margin-right: 12px;
    padding: 15px 16px;
    width: 358px;
    height: 50px;

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: inherit;
    color: $contactsTextColorFooter;

    background-color: transparent;
    border-radius: $borderRadius;
    border-width: 1px;
    border-color: $footerInputBorderColor;

    @include transitioned(border-color);

    &:focus {
        border-color: $accentColor;
        outline: none;
    }

    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: inherit;
        color: $contactsTextColorFooter;
    }
}

// button
.subscribe-button {
    @include centeredFlex;
}

.subscribe__icon {
    margin-left: 10px;
    fill: $lightTextColor;
}