.subscribe {
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.subscribe__appeal {
  display: block;
  margin-bottom: 20px;
  text-align: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $lightTextColor;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.subcribe__form {
  @include centeredFlex;
  flex-wrap: wrap;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
}

.subscribe__input {
  display: block;
  width: 450px;
  height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: inherit;
  color: $contactsTextColorFooter;

  background-color: transparent;
  border-radius: $borderRadius;
  border-width: 1px;
  border-color: $footerInputBorderColor;

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }

  @include transitioned(border-color);

  &:focus {
    border-color: $accentColor;
    outline: none;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: inherit;
    color: $contactsTextColorFooter;
  }
}

.subscribe__icon {
  margin-left: 10px;
  fill: $lightTextColor;
}
