h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
}

img {
  display: block;
}

.page {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;

  background-color: $primaryBgdColor;
  color: $primaryTextColor;

  @media screen and (max-width: 767px) {
    padding-top: 60px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 80px;
  }
}

.page.modal-open,
.page.menu-open {
  overflow: hidden;
}
