$accentColor: #2196f3;

$primaryTextColor: #212121;
$secondaryTextColor: #757575;
$lightTextColor: #ffffff;
$contactsTextColorFooter: rgba(255, 255, 255, 0.6);
$textColorLogoHeader: #000000;

$primaryBgdColor: #ffffff;
$secondaryBgdColor: #2f303a;
$specialBgdColor: #f5f4fa;
$socialFooterBgdColor: rgba(255, 255, 255, 0.1);
$workOverlayBgdColor: rgba(47, 48, 58, 0.8);
$animationTextBgdColor: rgba(33, 150, 243, 0.9);
$backdropBgdColor: rgba(0, 0, 0, 0.2);

$socialIconFill: rgba(175, 177, 184, 1);
$primaryBorderColor: #ececec;
$secondaryBorderColor: #eeeeee;
$footerInputBorderColor: rgba(255, 255, 255, 0.3);

$cubikTransition: cubic-bezier(0.4, 0, 0.2, 1);

$borderRadius: 4px;
