.button {
    min-width: 200px;
    height: 50px;

    @include centeredFlex;

    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: $lightTextColor;
    background-color: $accentColor;

    border: 0;
    border-radius: $borderRadius;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}