.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
}

.header__logo {
    color: $textColorLogoHeader;
}

.logo__part {
    color: $accentColor;
}

// footer logo
.footer__logo {
    display: inline-block;
    color: $lightTextColor;

    margin-bottom: 20px;
}